div#list-relatorio
	center 
		- if(relatorios.length  != 0)
			h2 Relatorio do Dia !{relatorios[0].data}
	br
	table.bordered-table.zebra-striped
		thead
			tr
				th Nome
				th Descriminação
				th Tipo
				th Data
				th Valor
		tbody
		- var soma = 0;
		- if(relatorios.length != 0)

			- each produto in relatorios
				- if(produto.tipo == 'entrada')
					tr
						td= produto.nome
						td= produto.descriminacao
						td= produto.tipo
						td= produto.data
						td #{'R$ '+produto.valor}
				- else
					tr#erro-nome
						td= produto.nome
						td= produto.descriminacao
						td= produto.tipo
						td= produto.data
						td #{'R$ '+produto.valor}
		- else

			h2#erro-nome Nada entrou ou saiu no dia solicitado.