div#list-entrada
	center 
		- var date = new Date()
		h2 Entradas do Dia !{date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear()}
	br
	table.bordered-table.zebra-striped
		thead
			tr
				th Nome
				th Descriminação
				th Tipo
				th Data
				th Valor
		tbody
		- each produto in produtos
			tr
				if(produto.tipo == 'entrada' & produto.data == date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear())
					td= produto.nome
					td= produto.descriminacao
					td= produto.tipo
					td= produto.data
					td #{'R$ '+produto.valor}